name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # Step 1: Copy files to EC2
      
      - name: Copy files to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "."
          target: "/home/${{ secrets.EC2_USERNAME }}/python-microservices"
          rm: true 

      # Step 2: SSH into EC2 and run commands
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/${{ secrets.EC2_USERNAME }}/python-microservices
            
            # 1. Create directory for certs if it doesn't exist
            mkdir -p nginx/certs

            # 2. Generate SSL Certs on the server 
            
            if [ ! -f nginx/certs/selfsigned.key ]; then
              echo "Generating Self-Signed SSL Certificates."
              openssl req -x509 -nodes -days 365 -newkey rsa:2048 \
                -keyout nginx/certs/selfsigned.key \
                -out nginx/certs/selfsigned.crt \
                -subj "/C=US/ST=State/L=City/O=Organization/CN=localhost"
            fi

            # 3. Stop old containers, rebuild, and start new ones
         
            
            sudo docker-compose down
            sudo docker-compose up -d --build
            
            sudo docker system prune -f
